.MatrixCell {

}

.Default {
  background-color: #FFFFFF;
}

.NotInterested {
  background-color: #FD8C00;
}

.WillLearn {
  background-color: #FFE500;
}

.LimitedExposure {
  background-color: #119F0B;
}

.Proficient {
  background-color: #0644B3;
}

.Expert {
  background-color: #C22EDC;
}
